
body{
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

h1{
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 > span {
    color:#b7832f;
}

h2{
    font-size: 1.5rem;
}

p{
    margin-top: 0;
}
.col-3{
    width: 70%;
}

.col-2{
    width: 45%;
}

.col-1{
    width: 20%;
}
.last{
    background-color: #312614;
    padding: 1em;
    color:#fff;
}
/* 
#312614
#B7832F
#707070
#fff

h1: 3rem
h2:1.5rem
body: 1.125
 */

.container{
    max-width: 980px;
    margin: 0 auto;
    width: 90%;
}

.columns{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .columns{
        flex-direction: column;
        align-items: center;
    }
    .col-1{
        width: 100%;
    }

    .col-2{
        width: 100%;
    }

    .col-3{
        width: 100%;
    }
    
}

img{
    max-width: 100%;
}

